GROQ_API_KEY=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
OPENAI_API_KEY=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